@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat';
    background-color: #F2F2F2;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 80px);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'Montserrat'
}

.decommissioned-banner {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: #9e9e9e;
    color: white;
    text-align: center;
    padding: 4px 0;
    font-size: 14px;
    font-family: 'Montserrat';
}